*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#contenitore-header{
  display: flex;
  align-items: center;
  margin-left: 300px;
  padding: 15px 15px;
}

.lista-header{
  font-size: 10px;
  margin-left: 200px;
  display: flex;
  text-indent: 30px;
  list-style-type: none;
}
/* -------------------------------------------------------------- */



.inserimento-contenuto{
  font-size: 12px;
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 32px;
  padding-left: 310px;
}

main figure{
  height: 100px;
  background-color: rgb(48, 106, 231);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-comics h6{
  position: relative;
  left: 50px;
  bottom: 25px;
  color: white;
  
}

.img-comics-shop h6{
  position: relative;
  left: 40px;
  bottom: 25px;
  color: white;
}

.img-comics-power h6{
  position: relative;
  left: 70px;
  bottom: 25px;
  color: white;
}

/* -------------------------------------------------------------------------------------- */

.contenitore-dc{
  border: 1px solid black;
  background-image: url('C:\Users\stive\Desktop\Classe_139\react-dc-comics\public\img\footer-bg.jpg');
  width: 100%;
  
}

.dc-logo-bg{
  height: 100px;
  margin-left: 1000px;
}


.footer-dccomics{
  margin-top: 40px;
  margin-left: 300px;
}

.footer-dc{
  position: relative;
  top: -145px;
  margin-left: 500px;
}

.footer-sites{
  position: relative;
  top: -360px;
  margin-left: 700px;
}

.footer-shop{
  position: relative;
  top: -300px;
  margin-left: 300px;
}

.footer-dccomics, ul{
  color: white;
  list-style-type: none;
}

.footer-dccomics a{
  color: gray;
}

.footer-dc{
  color: white;
}

.footer-dc a{
  color: gray;
} 

.footer-shop{
  color: white;
}

.footer-shop a{
  color: gray;
}

.footer-sites{
  color: white;
}

.footer-sites a{
  color: gray;
}


.loghi-finepagina{
  height: 100px;
  background-color: rgb(58, 56, 56);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo-social{
  display: flex;
}

.logo-social img{
  margin-left: 20px;
}